<ion-header>
  <ion-toolbar>
    <ion-title>Venta de Videojuegos</ion-title>
    <ion-button slot="start">
      <ion-back-button defaultHref="/apilibros"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let juego of videojuegos" class="card-juego">
      <ion-label>
        <h2>{{ juego.titulo }}</h2>
        <img [src]="juego.portada" alt="{{ juego.titulo }}" style="max-width: 100px; max-height: 100px; justify-items: center;">
        <p>{{ juego.descripcion }} | {{ juego.categoria }}</p>
        <p>{{ juego.link_referencia }}</p>
      </ion-label>

      <div class="acciones">
        <ion-button [routerLink]="['/videojuegos-form', juego.id]">
          Editar
        </ion-button>

        <ion-button (click)="eliminar(juego.id!)">
          Eliminar
        </ion-button>
      </div>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/videojuegos-form">
      +
    </ion-fab-button>
  </ion-fab>

</ion-content>