<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ id ? 'Editar Serie' : 'Nueva Serie' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">
      Título
    </ion-label>

    <ion-input
      [(ngModel)]="videojuego.titulo">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">
      Portada
    </ion-label>

    <ion-input
      [(ngModel)]="videojuego.portada">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">
      Categoría
    </ion-label>

    <ion-input
      [(ngModel)]="videojuego.categoria">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">
      Descripción
    </ion-label>

    <ion-textarea
      [(ngModel)]="videojuego.descripcion">
    </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">
      Link de Referencia
    </ion-label>

    <ion-input
      [(ngModel)]="videojuego.link_referencia">
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    class="ion-margin-top"
    (click)="guardar()">

    Guardar

  </ion-button>

</ion-content>